<div class="container my-3">
  <% flash.each do |message_type, message| %>
    <div class="flash-message <%= message_type %>"><%= message %></div>
  <% end %>

  <div class="text-center">
    <h2>商品登録</h2>
    <%= render "layouts/errors", obj: @item %>
  </div>

  <%= form_with model: [:admin, @item] do |f| %>
    <div class="field d-flex">
      <div class="col-3 text-center">
        <label>画像</label>
      </div>
      <div class="col-6 text-center">
        <%= f.file_field :image, accept: "image/*" %>
      </div>
    </div>
    <div class="field d-flex">
      <div class="col-3 text-center">
        <label>商品名</label>
      </div>
      <div class="col-6 text-center">
        <%= f.text_field :name,autocomplete: "name", class: "form-control" %>
      </div>
    </div>
    <div class="field d-flex">
      <div class="col-3 text-center">
        <label>税抜金額</label>
      </div>
      <div class="col-3 text-center d-flex">
        <%= f.text_field :price,autocomplete: "price", class: "form-control" %>円
      </div>
    </div>
    <div class="field d-flex">
      <div class="col-3 text-center">
        <label>サイズ</label>
      </div>
      <div class="col-6 text-center">
        <%= f.select(:size, Item.sizes_i18n.invert, {}, class: "form-control") %>
      </div>
    </div>
    <div class="field d-flex">
      <div class="col-3 text-center">
        <label>長さ</label>
      </div>
      <div class="col-6 text-center">
        <%= f.select(:length, Item.lengths_i18n.invert, {}, class: "form-control") %>
      </div>
    </div>
    <div class="field d-flex">
      <div class="col-3 text-center">
        <label>カラー</label>
      </div>
      <div class="col-6 text-center">
        <%= f.text_field :color, autocomplete: "name", class: "form-control"%>
      </div>
    </div>
    <div class="field d-flex">
      <div class="col-3 text-center">
        <label>タグ</label>
      </div>
      <div class="col-6 text-center">

      </div>
    </div>

    <div class="field d-flex">
      <div class="col-3 text-center">
        <label>商品説明</label>
      </div>
      <div class="col-6 text-center">
        <%= f.text_area :detail, class: "form-control" %>
      </div>
    </div>
    <div class="field d-flex">
      <div class="col-3 text-center">
        <label>販売ステータス</label>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <div class="radio_button">
          <%= f.radio_button :is_active, true, id: "is_active_true" %>
          <%= f.label "販売中", class: "text-success", for: "is_active_true" %>
        </div>
        <div class="radio_button">
          <%= f.radio_button :is_active, false, id: "is_active_false" %>
          <%= f.label "販売停止中", class: "text-secondary", for: "is_active_false" %>
        </div>
      </div>
    </div>
    <div class="actions text-center">
      <%= f.submit "登録する", class: "btn btn-success col-3", "data-confirm" => "この内容でよろしいでしょうか？" %>
    </div>
  <% end %>

</div>