<div class="container">
  <h2>商品詳細</h2>

  <div>
    <%= image_tag @item.get_image(100,100) %>
  </div>
  <div>
    <%= @item.name %>
  </div>
  <div>
    <%= @item.price %>
  </div>
  <div>
    <%= @item.size_i18n %>
  </div>
  <div>
    <%= @item.length_i18n %>
  </div>
  <div>
    <%= @item.color %>
  </div>
  <div>
    <%= @item.detail %>
  </div>
</div>