
<div class="container">
  <h2 class="text-center">新規登録</h2>
  <%= form_with model: @user, url: user_registration_path do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
    <div class="field d-flex">
      <div class="col-3 text-center">
        <label>氏名</label>
      </div>
      <div class="col-6 d-flex text-center">
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "姓", class: "form-control" %>
        <%= f.text_field :first_name, autocomplete: "first_name", placeholder: "名", class: "form-control" %>
      </div>
    </div>

    <div class="field d-flex">
      <div class="col-3 text-center">
        <label>フリガナ</label>
      </div>
      <div class="col-6 d-flex text-center">
        <%= f.text_field :last_name_kana, autocomplete: "last_name_kana", placeholder: "セイ", class: "form-control" %>
        <%= f.text_field :first_name_kana, autocomplete: "first_name_kana", placeholder: "メイ", class: "form-control" %>
      </div>
    </div>

    <div class="field d-flex">
      <div class="col-3 text-center">
        <label>性別</label>
      </div>
      <div class="col-6 d-flex">
        <div class="radio_button">
          <%= f.radio_button :gender, User.genders.key(0) %>
          <%= f.label :gender, User.genders_i18n[:genderless], value: User.genders.key(0) %>
        </div>
        <div class="radio_button">
          <%= f.radio_button :gender, User.genders.key(1) %>
          <%= f.label :gender, User.genders_i18n[:female], value: User.genders.key(1) %>
        </div>
        <div class="radio_button">
          <%= f.radio_button :gender, User.genders.key(2) %>
          <%= f.label :gender, User.genders_i18n[:male], value: User.genders.key(2) %>
        </div>
      </div>
    </div>

    <div class="field d-flex">
      <div class="col-3 text-center">
        <label>郵便番号</label>
      </div>
      <div class="col-3 d-flex text-center">
        <%= f.text_field :post_code, autocomplete: "post_code", placeholder: "ハイフンなし", class: "form-control" %>
      </div>
    </div>

    <div class="field d-flex">
      <div class="col-3 text-center">
        <label>住所</label>
      </div>
      <div class="col-6 d-flex text-center">
        <%= f.text_field :address, autocomplete: "address", class: "form-control" %>
      </div>
    </div>

    <div class="field d-flex">
      <div class="col-3 text-center">
        <label>電話番号</label>
      </div>
      <div class="col-6 d-flex text-center">
        <%= f.text_field :telephone_number, placeholder: "ハイフンなし", autocomplete: "telephone_number", class: "form-control" %>
      </div>
    </div>


    <div class="field d-flex">
      <div class="col-3 text-center">
        <label>メールアドレス</label>
      </div>
      <div class="col-6 d-flex text-center">
        <%= f.email_field :email, placeholder: "hair.haven@hair", autocomplete: "email", class: "form-control" %>
      </div>
    </div>

    <div class="field d-flex">
      <div class="col-3 text-center">
        <label>
          パスワード
          <% if @minimum_password_length %>
            (<%= @minimum_password_length %> 文字以上)
          <% end %>
        </label>
      </div>
      <div class="col-6 d-flex text-center">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>

    <div class="field d-flex">
      <div class="col-3 text-center">
        <label>パスワード</label>
      </div>
      <div class="col-6 d-flex text-center">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>

    <div class="actions text-center">
      <%= f.submit "アカウントを作成する", class: "btn btn-info col-3" %>
    </div>
  <% end %>

  <div class="field text-center">
    会員登録済みの方は<%= render "public/shared/links" %>からログインしてください。
  </div>
</div>