<!DOCTYPE html>
<html>
  <head>
    <title>HairHaven</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0e58e38434.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

    </header>
    <main>
      <%= yield %>
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete  %>
      <% elsif admin_signed_in? %>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      <% else %>
        <%= link_to "ログイン", user_session_path %>
        <%= link_to "新規登録", new_user_registration_path %>
      <% end %>
    </main>

  </body>
</html>
